{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": [
    "vuetify"
  ],
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "vuetify/no-deprecated-classes": "error",
    "vuetify/grid-unknown-attributes": "error",
    "vuetify/no-legacy-grid": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}